H1{
    text-align: center;
}

#top-bar{
    font-size: 18;
    margin-left: auto;
    margin-right: auto;
    background-color: tomato;
    width: 100%;
    position: fixed;
    left: 0pt;
    right: 0pt;
}
a{
    text-decoration: none;
    position: relative;     
}
#Tlf, #Email{
    width: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: tomato;
    color: white;
    text-align: center;
    left: 0pt;
 }

 #top-bar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .kontaktbutton{
      margin-top: 10pt;
      margin-left: 10pt;
      float:right;
  }